<div fxLayout="row" fxLayoutAlign="center center" style="height: 100vh;">

  <!-- First Column -->
  <div fxLayout="column" fxLayoutAlign="center center"
   >
   <div class="slipUser">
    <img src="../../../assets/slip.png" alt="" (click)="viewSalarySlip()">
  </div>
  <h2 class="title" style="font-weight: 500;margin: 0;color: #156EF3;" (click)="viewSalarySlip()">Salary Slip</h2>
  </div>

  <div fxFlex="3"></div>

  <div fxLayout="column" fxLayoutAlign="center center"  >
    <div class="slipUser">
      <img src="../../../assets/Calendar-icon.png" alt="">
    </div>
    <h2 class="title" style="font-weight: 500;margin: 0; color: #156EF3;">Leave Manage</h2>
  </div>
</div>