<div style="min-height: 80vh;">

  <div fxLayout="column" style="padding: 10px;">
    <div class="box-shadow-div" fxLayout="row" fxLayoutGap="5px" style="padding: 5px; padding-bottom: 5px;">
      <div fxFlex="100%" class="input-form">
        <form style="display: flex; flex-direction: column; max-width: 100%;">

          <div fxLayout="column" fxLayoutAlign="space-between">

            <div class="input-row ">

              <mat-form-field class="mat-input" appearance="outline"
                style="width: 39%; padding-right: 10px; padding-top: 5px;">
                <mat-label>Salary Month</mat-label>
                <mat-select matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedMonth"
                  placeholder="Salary Month">
                  <mat-option (click)="onActionAnable(selectedMonth)" *ngFor="let month of months" [value]="month.code">
                    {{ month.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="mat-input" appearance="outline" style="width: 10%;  padding-top: 5px;">
                <mat-label>No Of Days</mat-label>
                <input matInput type="text" [(ngModel)]="noOfDays" [ngModelOptions]="{standalone: true}"
                  placeholder="No Of Days">
              </mat-form-field>
            </div>
            <div class="input-row ">
              <mat-form-field class="mat-input" appearance="outline" style="width: 39%;  padding-top: 5px; ">
                <mat-label>Employee</mat-label>
                <input type="text" matInput [formControl]="employeeControl" [matAutocomplete]="auto" (click)="keyUp()"
                  placeholder="Employee">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let employee of filteredEmployees | async" (click)="keyUp()" [value]="employee">{{
                    employee
                    }}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="mat-input" appearance="outline"
                style="width: 10%;  padding-top: 5px; padding-left: 10px;">
                <mat-label>Emp ID</mat-label>
                <input matInput type="text" [(ngModel)]="empid" [ngModelOptions]="{standalone: true}"
                  placeholder="Emp ID">
              </mat-form-field>
            </div>
            <div class="input-row ">
              
            </div>
            <div class="input-row ">
              <div style="width:50%;display: flex; justify-content: flex-end; padding-top: 5px;">
                
                <label class="custom-file-input " style="margin-right: 10px;background-color: #156EF3; padding: 8px; color: white;">
                  <input type="file" (change)="onFileChange($event)" accept=".xls,.xlsx">
                  Browse
                </label>
                
                <button mat-raised-button class="success-button"
                  style="color: white; background-color: #156EF3;margin-right: 10px; " (click)="save()">
                  Save
                </button>
                <button mat-raised-button class="success-button"
                style="color: white; background-color: #d60035; " (click)="cancel()">
                Cancel
              </button>
              </div>
            </div>
          </div>


        </form>
        <hr style="margin: 5px; border: 0; border-top: 2px solid rgb(212, 206, 206);">

        <div fxLayout="column" style="width: 50%;">
          <div>
            <div class="tableSection ">
              <!-- <div fxLaout="row" fxLayoutAlign="end" class="input-row">
            <input placeholder="Search" type="search" class="form-control input-style" id="certName" name="certName"
              [(ngModel)]="searchEmp" (keyup)="onSearchKeyup()">
  
          </div> -->
              <table mat-table [dataSource]="attendanceDataSource" class="mat-elevation-z8 demo-table table-cell"
                style="border-radius: 15px; overflow: hidden; width: 100%;">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="table-header" style="width: 85px;">
                    Emp ID </th>
                  <td mat-cell *matCellDef="let element" class="table-data">{{
                    element.empId }}</td>
                </ng-container>
                <ng-container matColumnDef="epf">
                  <th mat-header-cell *matHeaderCellDef class="table-header">
                    EPF#</th>
                  <td mat-cell *matCellDef="let element" class="table-data">{{
                    element.epf }}</td>
                </ng-container>
                <ng-container matColumnDef="employeeName">
                  <th mat-header-cell *matHeaderCellDef class="table-header">
                    Emp Name </th>
                  <td mat-cell *matCellDef="let element" class="table-data">{{
                    element.employeeName }}</td>
                </ng-container>
                <ng-container matColumnDef="noOfDays">
                  <th mat-header-cell *matHeaderCellDef class="table-header" style="width: 100px;">
                    No Of Days#</th>
                  <td mat-cell *matCellDef="let element" class="table-data">{{
                    element.noOfDays }}</td>
                </ng-container>
                <ng-container matColumnDef="division">
                  <th mat-header-cell *matHeaderCellDef class="table-header">
                    Division</th>
                  <td mat-cell *matCellDef="let element" class="table-data">{{
                    element.division }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="table-header">
                    Action</th>
                  <td mat-cell *matCellDef="let element" class="action-cell">
                    <!-- <mat-icon  (click)=" updateData(element)" style="cursor: pointer;">edit</mat-icon> -->
                    <mat-icon (click)=" updateData(element)" style="cursor: pointer;">edit</mat-icon>
                    <mat-icon (click)=" showDeleteConfirmation(element)" style="cursor: pointer;">delete</mat-icon>

                  </td>

                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedAttendance" style="height: 50px;"></tr>
                <tr mat-row [ngClass]="{
        'inactive-row': !element.activeStatus
    }" *matRowDef="let element; columns: displayedAttendance;  let rowIndex = index"
                    style="height: 10px; cursor: pointer; " (click)="onRowClick(rowIndex)"[ngStyle]="getRowStyle(rowIndex)"  class="hovered-row"
                  style="height: 10px; cursor: pointer; " (click)="onRowClick(rowIndex)"[ngStyle]="getRowStyle(rowIndex)"  class="hovered-row" >
                </tr>


              </table>
              <div *ngIf="isLoading" class="loader">

                <mat-spinner diameter="70"></mat-spinner>
              </div>
              <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="[10,20,35,50]" style="border-radius: 15px; overflow: hidden; width: 100%;"
                (page)="getServerData($event)" aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--  -->