.input-style {
    width: 30%;
    height: 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid black;
  
  
  }
  .label-style {
    font-family: sans-serif;
    font-size: 16px;
    // color: #156EF3;
    padding-left: 30px;
    padding-right: 10px;
    width: 25%;
    // font-weight: 600;
}
.inputWithIcon {
    position: relative;
}



.inputWithIcon mat-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}
.condition {
    font-weight: bold; /* Example: Make the text bold */
    color: red; /* Example: Change the text color to red */
    /* Add more styles as needed */
  }
  