<div style="min-height: 80vh;">

  <div fxLayout="row" fxLayoutAlign="space-between" style="padding-top: 10px; padding-left: 10px;">
    <div fxFlex class="column">
      <h1 style="color: #2c5fac;font-weight: 500;">Change Password</h1>
    </div>
  </div>
  <div fxLayout="column" style="border: 2px solid black; margin: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">


    <hr style="margin: 5px; border: 0; border-top: 1px solid black;">

    <div fxLayout="column" style=" padding: 10px;">

      <div fxLayout="row">
        <label class="label-style" style="width: 150px;">Current Password :</label>
        <div class="inputWithIcon">
          <input class="input-style" [type]="showPassword ? 'text' : 'password'"
            style="margin-left: 10px; width: 400px;" type="text" [(ngModel)]="currentPw" (keyup)="onConfirmPasswordKeyUp()">
          <mat-icon (click)="togglePasswordVisibility()">
            {{ showPassword ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </div>
      </div>
      <div fxLayout="row" style="padding-top: 10px;">
        <label class="label-style" style="width: 150px;">New Password :</label>
        <div class="inputWithIcon">
          <input class="input-style" [type]="showNewPassword ? 'text' : 'password'"
            style="margin-left: 10px; width: 400px;" type="text" [(ngModel)]="newPw" (keyup)="onConfirmPasswordKeyUp()">
          <mat-icon (click)="togglePasswordVisibilityNew()">
            {{ showNewPassword ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </div>

      </div>
      <div fxLayout="row" style="padding-top: 10px;">

        <label class="label-style" style="width: 150px;">Confirm Password :</label>
        <div class="inputWithIcon">
          <input class="input-style" [type]="showConfirmPassword ? 'text' : 'password'"
            style="margin-left: 10px; width: 400px;" type="text" [(ngModel)]="confirmPw" (keyup)="onConfirmPasswordKeyUp()">
          <mat-icon (click)="togglePasswordVisibilityConfirm()">
            {{ showConfirmPassword ? 'visibility' : 'visibility_off' }}
          </mat-icon>

        </div>

      </div>

      <div fxLayout="row" fxLayoutAlign="end center" style="padding-top: 10px; width: 46%;">
        <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="pwChangeBtn">Change Password</button>
      </div>

    </div>
    <hr style="margin: 5px; border: 0; border-top: 1px solid black;">
    <div fxLayout="column" style="padding-top: 10px;padding-left: 10px;">
      <ul style="font-size: 12px; ">
        <ul>
          <li [ngStyle]="{'color': isCurrentPw ? 'green' : 'red'}">{{ isCurrentPw ? 'Current Password Verified' : 'Current Password Verification Failed' }}</li>
          <li [ngStyle]="{'color': isLengthValid ? 'green' : 'red'}">{{ isLengthValid ? 'Password Length Requirement Met' : 'Password Must Be at Least 8 Characters Long' }}</li>
          <li [ngStyle]="{'color': isUpperCaseValid ? 'green' : 'red'}">{{ isUpperCaseValid ? 'Uppercase Letter Found' : 'Password Must Contain at Least One Uppercase Letter' }}</li>
          <li [ngStyle]="{'color': isLowerCaseValid ? 'green' : 'red'}">{{ isLowerCaseValid ? 'Lowercase Letter Found' : 'Password Must Contain at Least One Lowercase Letter' }}</li>
          <li [ngStyle]="{'color': isDigitValid ? 'green' : 'red'}">{{ isDigitValid ? 'Digit Found' : 'Password Must Contain at Least One Digit' }}</li>
          <li [ngStyle]="{'color': isSpecialCharValid ? 'green' : 'red'}">{{ isSpecialCharValid ? 'Special Character Found' : 'Password Must Contain at Least One Special Character (#, @, !, $, %, ^, &, *, or ())' }}</li>
          <li [ngStyle]="{'color': isNewPasswordMatch ? 'green' : 'red'}">{{ isNewPasswordMatch ? 'Password Matched' : 'New Password and Confirmation Must Match' }}</li>
          <li [ngStyle]="{'color': isDifferentFromCurrent ? 'green' : 'red'}">{{ isDifferentFromCurrent ? 'New Password Accepted' : 'New Password Cannot Be the Same as the Current Password' }}</li>
        </ul>
        
        
      </ul>
    </div>
  </div>

</div>