.box-shadow-div {
    background: #edf1f7;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    padding-left: 15px;
    padding-top: 0;
    border-radius: 8px;
}

.mat-input {
    width: 100%;
    height: 50px;
}

.input-row {
    margin-bottom: 10px;
}

.table-header {
    font-family: 'Imprima';
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #ccc;
    text-align: center;
    color: #156EF3;
}

.table-data {
    font-family: 'Imprima';
    font-size: 12px;
    border: 1px solid #ccc;
    height: 30px;
    // text-align: center;
}

.table-cell {
    border: 1px solid #ccc;
}
.hovered-row:hover {
    background-color: #e6f7ff !important; /* Set the hover color as per your preference */
  }
.action-cell {
    color: #156EF3;
    font-family: 'Imprima';
    border: 1px solid #ccc;

}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it appears on top of other content */
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #007bff; /* Loader color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }